.App {
}

.PageNotFound {
    text-align: center;
}

body {
    background-image: url("img/white-wooden-textures.jpg");
}

.container {
    margin-top: 350px;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.centerImg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.image {
    min-height: 50px
}

.container button {
    margin: 15px;
}

.custom-btn {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
}

.btn-16 {
    color: #000;
    z-index: 1;
}

.btn-16:active {
    top: 2px;
}